.TRANSPORT_CONTROL
{
    width: 300px;
    border-style: dashed;
    border-width: 1px;
}

.TRANSPORT_CONTROL_CONTENT
{
    margin: 10px;
}

.UNIX_TRANSPORT
{
    width: 300px;
    border-style: dashed;
    border-width: 1px;
}

.UNIX_TRANSPORT_CONTENT
{
    margin: 10px;
}